{% extends 'home_base.html' %}
{% block home_content %}

<style>
    .iframe-container {
            width: 100%;
            height: 440vh; /* Full viewport height */
            border: none;
            overflow: hidden;
        }
</style>

    <p style=" color: yellowgreen; text-align: center; font-size: 25px; ">Add Your Domain</p>
    <hr>
    <form method="post" action="{% url 'get_static_ip_view' %}">{% csrf_token %}
      <div class="form-group">
        <label for="domain">Domain</label>
        <input type="text" class="form-control" id="domain" name="domain" required>
        <input type="hidden" name="company_info_id" value="{{ company_info.id }}">
      </div>
      <button type="submit" class="btn btn-warning">Add Domain</button>
    </form>

{% endblock %}


