asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
Django
django-ckeditor
django-environ
django-js-asset
idna
jmespath
numpy
OdooRPC
pandas
pillow
psycopg2-binary
pycparser
python-dateutil
pytz
requests
s3transfer
six
sqlparse
stripe
typing_extensions
tzdata
urllib3


python-dotenv
psycopg2-binary
paramiko
scp
