{% extends 'home_base.html' %}
{% block home_content %}

<style>
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input, select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<h1>Set Website Languages</h1>
<form method="POST" >
    {% csrf_token %}
<input type="hidden" value="{{erp_active.id}}" name="erp_active_id">
    <div class="form-group">
        <label for="languages">Languages (comma-separated codes):</label>
        <input type="text" id="languages" name="languages" placeholder="e.g., en_US,fr_FR,zh_CN" required>
    </div>
    
    <input type="submit" value="Submit">
</form>

{% endblock %}