{% extends 'home_base.html' %}
{% block home_content %}






<!-- billing_history.html -->
<style>
  .billing-container {
    width: 100%;
    overflow-x: auto;
  }
  .billing-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .billing-table th, .billing-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .billing-table th {
    background-color: #f2f2f2;
    color: #333;
  }

  .billing-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .billing-table tbody tr:hover {
    background-color: #f2f2f2;
  }
</style>
<div class="billing-container">
<table class="billing-table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th>User ID</th>
      <th>User Role</th>
      <th>Update User role</th>
<!--{'id': 57, 'name': 'coc', 'login': 'coc.coc', 'groups_id': [8, 28, 31, 33, 3, 9, 29, 15, 1, 12, 45, 5, 6, 17, 14, 7, 27, 26], 'roles': ['Access to export feature', 'Administrator', 'Billing', 'Billing Administrator', 'Bypass HTML Field Sanitize', 'Contact Creation', 'Delivery Address', 'Editor and Designer', 'Internal User', 'Mail Template Editor', 'Manager', 'Multi Companies', 'Multi Currencies', 'Multi-website', 'Restricted Editor', 'Technical Features', 'User: All Documents', 'User: Own Documents Only']}-->
    </tr>
  </thead>
  <tbody>
    {% for u in u_list %}
    <tr>
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.id }}</td>
      <td>{{ u.roles }}</td>
      <td>

        <form method="POST" action="{% url 'update_user_roles_view' %}"> {% csrf_token %}
            <input type="hidden" value="{{u.id}}" name="user_id">
            <input type="hidden" value="first_page" name="first_page">
            <input type="hidden" value="{{erp_active.id}}" name="erp_active_id">
            <button type="submit">Update</button>

        </form>

      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}


